
h1{
    text-align:center;
    font-family: "Imperial Script",cursive;
    font-size: 90px;
    color:#6B0606;
}

.menu{
    background-color: #EBD3C4;
    padding: 10px 0;
}

.menu ul{
    list-style: none;
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 0;
}

menu ul li a{
    text-decoration:none;
    display: block;           
    color: white;
}

